@font-face {
    font-family: 'Nunito';
    src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap");
}
/* UNIVERSAL */
html{
    font-family: Nunito;
    font-size: 16px;
}

.logo-container{
    overflow: hidden;
}

.center{
    text-align: center;
}

p{
    font-size: 1rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: hsl(221, 81%, 77%);
    /* EL SOL */
    /* Starting position at the east (right) */
    background-image: radial-gradient(
        circle at right, 
        hsl(52, 100%, 67%) -10%, 
        rgba(149,179,244,1) 65%);
}

header .content{
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo-container{
    flex: 1;
}

header .logo-container img{
    display: block;
    max-width: 20%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 5rem;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: white;
}


/* BODY */
body{
    position: relative;
    top: 10rem;
    background: linear-gradient(
        rgba(149,179,244,1) 75%, 
        rgb(0, 60, 188) 90%,
        rgb(9, 57, 159) 250%
    )
}

/* ABOUT ME */
.about-me{
    display: flex;
    padding: 5%;
    padding-left: 15%;
    margin-top: 5%;
}

.text{
    text-indent: 5%;
}

.profile-container img{
    margin-top: 5%;
    margin-left: 5%;
    max-width: 20%;
    border-radius: 50%;
}

/* PROJECTS / ACTIVITIES */
.projects-activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}

.projects-activities h3{
    min-width: 100%;
}

.projects-activities div{
    min-width: 35%;
    margin: 2%;
}

.tech-stack{
    text-align: left;
    position:relative;
    left: 2%;
    top: -10%;
    width: 75%;
}

.title{
    position: relative;
    top: -10%;
    font-size: 1.25rem;
}

.description{
    float: right;
}

.abstract{
    justify-content: center;

}

/* AWARDS / RECOGNITIONS & AECC */
#aecc{
    display: inline-flex;
    width:100%;
    justify-content: space-around;
    padding: 2%;
}

#aecc img{
    max-width: 10%;
}

#public-relations{
    width: 30%;
}

#ctf-aecc{
    width: 30%;
}

#awards{
    display: inline-flex;
    padding: 2%;
}

#awards div{
    margin: 2%;
}

/* SKILLS */
.skills{
    list-style-type: none;
}

#skill-section{
    outline: solid red;
    display: flex;
    justify-content: space-evenly;
}

#skill-section div{
    outline: solid red;
}


/* FOOTER */
footer{
    background-color: #E9967A;
    padding: 0.25rem;
}

footer .content{
    font-size: 0.75rem;
    display: flex;
    align-items: left;
}

.copyright{
    padding-left: 0.5rem;
}