@font-face {
    font-family: 'Nunito';
    src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap");
}
/* UNIVERSAL */
html{
    font-family: Nunito;
    font-size: 16px;
}

.logo-container{
    overflow: hidden;
}

.center{
    text-align: center;
}

h1{
    font-size: 1.75rem;
}

h2{
    font-size: 1.65rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.30rem;
}

h5{
    font-size: 1.25rem;
}

h6{
    font-size: 1.15rem;
}

p{
    font-size: 1rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    /* EL SOL */
    /* Starting position at the east (right) */
    background-image: radial-gradient(
        circle at 90% 30%, 
        hsl(52, 100%, 67%) -10%, 
        rgba(149,179,244,1) 65%);
}

header .content{
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo-container{
    flex: 1;
}

header .logo-container img{
    display: block;
    width: 15%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 5rem;
}

.nav-bar-desktop{
    position: fixed;
    right: 5px;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: white;
}

.nav-bar-desktop li a.active{
    color: white;
}

@media only screen and (min-width: 780px) {
    .nav-bar-mobile{
        display: none;
    }

}

@media only screen and (max-width: 780px) {
    .nav-bar-desktop{
        display: none;
    }

    .nav-bar-mobile{
        position: fixed;
        right: 5px;
    }

    .nav-bar-mobile .icon{
        width: 35px;
    }

    nav a:hover{
        color: black;
    }

    nav li{
        padding-left: 1.5rem;
    }

    header .logo-container img{
        width: 25%;
    }
}

@media only screen and (max-width: 350px) {
    #index header .logo-container img{
        display: none;
    }
}


/* BODY */
body{
    position: relative;
    margin-top: 10rem;
    background: linear-gradient(
        rgba(149,179,244,1) 75%, 
        rgb(0, 60, 188) 90%,
        #E9967A 93%
    );
}

/* ABOUT ME */ 
#about-me{
    display: flex;
    padding: 5%;
    padding-left: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.text{
    width: 50%;
    text-indent: 5%;
    margin: 0 auto;
}

.text h2{
    text-indent: -2%;
    margin-bottom: 5%;
}

.profile-container img{
    margin-top: 5%;
    padding: 5%;
    width: 150px;
    border-radius: 100px;
}

@media only screen and (max-width: 780px) {
    #about-me{
        flex-grow: 3;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        row-gap: 25px;
    }

    .profile-container{
        margin: 0 auto;
    }

    .text{
        width: 100%;
    }

}

/* PROJECTS / ACTIVITIES */
.projects-activities{
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    justify-content: center;
}

.projects-activities h3{
    min-width: 100%;
}

.tech-stack h6{
    text-align: left;
    position: relative;
    left: 4%;
    padding-top: 2%;
    margin-bottom: -3%;
}

.picture img{
    width: 90%;
    height: 300px;
    background-size: cover;
    margin: 0 auto;
}

.project{
    background: white;
    border: 1px solid rgba(149,179,244,1);
    border-radius: 30px;
    width: 40%;
    margin: 2%;
}

#project-inner{
    border-radius: 30px;
    color: black;
    width: 95%;
    height: 95%;
    margin: -1.5% auto;
}

.abstract p{
    font-size: 0.90rem;
    padding: 2%;
}

@media only screen and (max-width: 1000px) {
    .project{
        width: 60%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 850px) {
    .project{
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .projects-activities{
        flex-flow: column;
    }

    .project{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 5%;
    }

    .picture img{
        height: auto;
    }

    .tech-stack h6{
        font-size: 1rem;
    }

}

/* AWARDS / RECOGNITIONS */
#awards-recognitions{
    margin-top: 3%;
}

#awards{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}

.competition img{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 75%;
}

.recognitions{
    background: white;
    border-radius: 30px;
    margin: 0 auto;
    width: 55%;
    margin-bottom: 7%;
}

.recognitions-inner{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 30px;
    background-color: white;
}

.recognitions h5{
    padding: 10px;
}

.info{
    margin-top: -3%;
    text-align: right;
    padding: 20px;
    padding-right: 30px;
}

#awards .tech-stack h6{
    left: 2%;
    margin-top: 1%;
    margin-left: -4%;
}

@media only screen and (max-width: 780px) {

    .recognitions{
        margin: 0 auto;
        width: 90%;
        margin-bottom: 5%;
    }

}

/* SKILLS */
#skill-section{
    margin-top: 10%;
    padding-bottom: 5%;
}

.skills{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2%;
}

.skills h4{
    padding: 20px 0;
    margin-top: 0px;
    border-radius: 25px 25px 0 0;
    background-color: rgba(0, 60, 188, 0.839);
    color: white;
}

.skills div{
    background-color: white;
    border: 1px solid gray;
    border-radius: 30px;
    width: 35%;
}

#soft-skills ul li, #hard-skills ul li{
    font-size: 1.25rem;
}

#soft-skills, #hard-skills, #other-skills{
    margin-top: 2%;
}

#languages, #tools{
    width: 100%;
    border: transparent;
}

#skill-section ul{
    list-style-type: none;
    text-align: start;
}

#skill-section ul li{
    margin: 1rem 5px;
}

#languages ul li{
    font-size: 1.25rem;
}


.tools ul li{
    display: inline-flex;
    flex-wrap: wrap;
}

.icon{
    width: 50px;
}

@media only screen and (max-width: 1000px) {
    .skills div{
        width: 40%;
    }
}

@media only screen and (max-width: 780px) {
    .skills{
        display: block;
    }

    .skills div{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 5%;
    }
}

/* AECC */
#aecc{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}

#aecc img{
    max-width: 150px;
    max-height: 150px;
}

#aecc div{
    width: 40%;
}

@media only screen and (max-width: 850px) {
    #aecc{
        display: block;
    }

    #aecc div{
        width: 100%;
        margin: 0 auto;
        margin-top: 10%;
    }
}

/* FOOTER */
footer{
    padding: 10px;
    background: #E9967A;
}

footer .content{
    font-size: 0.75rem;
    display: flex;
    justify-content: end;
}

.copyright{
    padding-right: 0.5rem;
}

@media only screen and (max-width: 780px) {
    footer .content {
      font-size: .625rem;
    }
}

@media only screen and (max-width: 895px) {
    .main-content {
      top: 2.5625rem;
    }
}

/* CONTACT PAGE */

#contact-page{
    height: 100%;
}

#contact-page footer{
    position: fixed;
    bottom: 0;
    margin-left: -4%;
    width: 100%;
}

@media only screen and (max-width: 300px) {
    #contact-page header .logo-container img{
        display: none;
    }
}
#contact-page body{
    background: linear-gradient(
        rgba(149,179,244,1) 65%, 
        rgb(0, 60, 188) 75%,
        #E9967A 90%
    );
}

/* FORM */
.form{
    display: block;
    text-align: center;
}

.form ul{
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form ul li{
    font-weight: bold;
    width: fit-content;
    margin-top: 20px;
    margin-right: 5px;
}

.form ul li input , .form ul li textarea{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: solid 1px black;
    border-radius: 10px;
}

#to{
    font-size: 2rem;
}

#submit{
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

#socials ul{
    display: inline-flex;
    flex-direction: row;
    box-shadow: none;
}

#socials ul li{
    margin-right: 30px;

}