@font-face {
    font-family: 'Nunito';
    src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap");
}
/* UNIVERSAL */
html{
    font-family: Nunito;
    font-size: 16px;
}

.logo-container{
    overflow: hidden;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: hsl(221, 72%, 69%);
    /* EL SOL */
    /* Starting position at the east (right) */
    background-image: radial-gradient(circle at right, hsl(52, 100%, 42%), hsl(52, 100%, 69%) -3%, hsl(52, 95%, 54%) -5%,hsl(221, 71%, 75%) 50%)
}

header .content{
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo-container{
    flex: 1;
}

header .logo-container img{
    display: block;
    max-width: 20%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 5rem;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    font-size: 1.15rem;
    color: black;
}


/* BODY */
body{
    position: relative;
    top: 10rem;
}

/* FOOTER */
footer{
    background-color: #E9967A;
}